/* Estilo del Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 10vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo de la aplicación principal */
.app {
  height: 90vh;
  border: 2px solid black;
  display: flex; /* Activar Flexbox para alinear contenido */
  flex-direction: column; /* Alinear elementos en columna */
  align-items: center; /* Centrar contenido */
}

.game-container {
  height: 100%;
  width: 100%;
  display: flex; /* Activar Flexbox para alinear contenido */
  flex-direction: column; /* Alinear elementos en columna */
  align-items: center; /* Centrar contenido */
}

.game-layout-container {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  display: grid; /* Activar Grid */
  place-items: center; /* Centrar ambos ejes (horizontal y vertical) */
}

.game-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  width: 100%;
  height: 10%;
}

.game-control-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  border: 2px solid black;
}

/* Estilo del Footer */
.footer {
  height: 5vh;
  border: 2px solid black;
}

/* Estilo del contenedor */
.container {
  height: 100%;
}
