@import "tailwindcss";

/* Tus otros estilos debajo */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #010a13;
  font-family: "Cinzel", serif;
}
